h1 {
    color: blue;
    text-align: center;
    font-style: italic;
}
body {
    background-image: url(https://bit.ly/2OCDtcQ);
    background-repeat: no-repeat;
    background-size: 500%;
}
body {
    font-family: sans-serif;
}

.sidebar {
    width: 50%;
    float: initial;
    background-color: lawngreen;
}
.intrests   {
    font-weight: bolder;
    
}
.hobbies  {
    font-style: italic;
    
}
h5 {
    font-size: 22px;
    color: maroon;
}

.test-box {
    border: 4px lightgray;
    padding top: 60px;
    padding bottom: 40px;
    margin: 40px

}
h3 {
    font-size: 24px;
    color: midnightblue;
}

