h1 {
    color: blue;
    text-align: center;
    font-style: italic;
}
body {
    background-image: url(https://bit.ly/2OCDtcQ);
    background-repeat: no-repeat;
    background-size: 500%;
}
body {
    font-family: sans-serif;
}
